{% extends "chatapp/base_popup_contents_kr.html" %}
{% load staticfiles %}

{% block title %}RE,COMMA{% endblock %}

{% block content %}

    {% include "chatapp/chat-panel.html" %}

{% endblock content %}

{% block javascript %}

  <script>
  $( function() {
    var availableTags = [
      "웹툰 볼만한거 없어?",
      "영화 재밌는거 있어?",
      "음악 추천 좀 해줘",
    ];
    $( "#txtMessage" ).autocomplete({
      source: availableTags
    });
  } );
  </script>

    <!-- Speech To Text, Text To Speech, Ajax통신 -->
	<script type="text/javascript" src="{% static 'chatapp/js/uiForChattingClient.js' %}"></script>

     {% if initMessages %}
			<script type="text/javascript">
			botName = "RE,COMMA"
			{% for message in initMessages %}
				processResponse("{{ message }}")
			{% endfor %}
			</script>
     {% endif %}
{% endblock javascript %}

   
        